@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 23%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 23%;
    --primary: 196 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 89% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 5% 90%;
    --muted-foreground: 180 5% 40%;
    --accent: 80 88% 50%;
    --accent-foreground: 80 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 85%;
    --input: 180 5% 85%;
    --ring: 196 100% 23%;
    --chart-1: 196 100% 23%;
    --chart-2: 181 89% 31%;
    --chart-3: 80 88% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 0 0% 23%;
    --foreground: 0 0% 98%;
    --card: 0 0% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 23%;
    --popover-foreground: 0 0% 98%;
    --primary: 196 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 89% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 5% 30%;
    --muted-foreground: 180 5% 70%;
    --accent: 80 88% 50%;
    --accent-foreground: 80 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 5% 30%;
    --input: 180 5% 30%;
    --ring: 196 100% 23%;
    --chart-1: 196 100% 23%;
    --chart-2: 181 89% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
